.w-detail {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    max-width: 350px;
    height: 100%;

    background: rgba($darkJungleGreen, .7);

    &__closed {
        margin: 20px 0 0 0;
        padding: 0 30px;

        text-align: center;
        letter-spacing: 1px;

        color: rgba($white, .6);

        font-size: 21px;
        font-weight: 100;

        word-wrap: break-word;

        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    &-graph {
        display: block;

        margin: 27px auto 27px;
    }

    &__cont {
        position: relative;

        display: none;

        overflow-y: auto;

        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    &__title {
        margin: 20px 0 0 0;
        padding: 0;

        text-align: center;
        letter-spacing: 1px;

        color: rgba($white, .6);

        font-size: 21px;
        font-weight: 100;

        word-wrap: break-word;
    }

    &__info {
        margin: 27px 0 0 0;

        text-align: center;

        color: rgba($lightGrey, .3);

        font-size: 16px;
        font-weight: 200;

        .w-detail__host {
            margin-right: 12px;

            color: rgba($lightGrey, .3);
        }

        .w-detail__mime-type {
            margin-left: 12px;

            &.-document {
                color: rgba($dullCyan, .9);
            }

            &.-image {
                color: rgba($pastelViolet, .9);
            }

            &.-stylesheet {
                color: rgba($christi, .9);
            }

            &.-script {
                color: rgba($pastelOrange, .9);
            }

            &.-fonts {
                color: rgba($lust, .8);
            }
        }
    }


    &__timing {

        &-title {
            font-size: 13px;
            font-weight: 300;
        }

        &-info {
            font-size: 13px;
            font-weight: 300;

            fill: rgba($white, .4);

            &.-percent {
                fill: rgba($daffodil, .4);

                display: none;
            }

            &.-max {
                fill: rgba($lust, .7);
            }
        }

        &-entry {
            opacity: .7;
        }

        &-entry, &-title {
            &.-blocked {
                fill: rgba($battleshipGrey, 1);
            }

            &.-dns {
                fill: rgba($pastelOrange, 1);
            }

            &.-send {
                fill: rgba($toolbox, 1);
            }

            &.-connect {
                fill: rgba($deepCerise, 1);
            }

            &.-wait {
                fill: rgba($christi, 1);
            }

            &.-receive {
                fill: rgba($lapisLazuli, 1);
            }

            &.-ssl {
                fill: rgba($pastelOrange, 1);
            }
        }

        &:hover {
            .w-detail__timing-info {
                display: none;

                &.-percent {
                    display: block;
                }
            }
        }
    }

    &__total-time {

        &__line {
            stroke: rgba($lightGrey, .3);
            stroke-width: 1px;
        }

        &__text {
            font-size: 12px;
            font-weight: 300;

            fill: rgba($white, .4);
        }
    }

    &__size {
        font-size: 12px;
        font-weight: 300;

        &.-size {
            fill: rgba($christi, .7);
        }

        &.-content-size {
            fill: rgba($pastelOrange, .7);
        }
    }

    &.-open {
        .w-detail__closed {
            display: none;
        }

        .w-detail__cont {
            display: block;
        }
    }
}
