.w-detail {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: none;

    &.-opened {
        display: block;
    }

    &-graph {
        display: block;
    }

    &__timing {

        &-title {
            font-size: 13px;
            font-weight: 300;
        }

        &-info {
            font-size: 13px;
            font-weight: 300;
            fill: rgba($white, .4);

            &.-percent {
                font-size: 11px;
                fill: rgba($daffodil, .4);
            }

            &.-max {
                fill: rgba($lust, .7);
            }
        }

        &-entry {
            opacity: .8;
        }

        &-entry, &-title {
            &.-blocked {
                fill: rgba($battleshipGrey, 1);
            }

            &.-dns {
                fill: rgba($pastelOrange, 1);
            }

            &.-send {
                fill: rgba($toolbox, 1);
            }

            &.-connect {
                fill: rgba($deepCerise, 1);
            }

            &.-wait {
                fill: rgba($christi, 1);
            }

            &.-receive {
                fill: rgba($lapisLazuli, 1);
            }

            &.-ssl {
                fill: rgba($pastelOrange, 1);
            }
        }
    }

    &__total-time {

        &__line {
            stroke: rgba($lightGrey, .3);
            stroke-width: 1px;
        }

        &__text {
            font-size: 12px;
            font-weight: 300;
            fill: rgba($white, .4);
        }
    }

    &__size {
        font-size: 12px;
        font-weight: 300;

        &.-size {
            fill: rgba($christi, .7);
        }

        &.-content-size {
            fill: rgba($pastelOrange, .7);
        }
    }
}
