.w-graph__cont {
    font-family: Helvetica Neue, Helveica, Arial, sans-serif;

    background: $darkJungleGreen;
}

/**
 * Legend
 */

.w-graph-legend {
    display: inline-block;

    margin: 18px 0 9px 0;
    padding: 5px 18px 7px 18px;

    list-style: none;

    border: 1px solid rgba($white, .1);
    border-radius: 30px;

    &.-hover {

        li {
            opacity: .3;
        }
    }

    &.-relative {
        position: relative;
    }

    li {
        transition: opacity .3s;

        font-size: 12px;
        line-height: 18px;

        display: inline-block;

        margin-right: 12px;

        color: rgba($white, .4);
    }

    &-color {
        position: relative;
        top: -1px;

        display: inline-block;

        width: 14px;
        height: 14px;
        margin-right: 6px;

        vertical-align: middle;

        border-radius: 50%;
    }

    /**
     * Legend specific hover behavior
     */

    &.-hover {

        &.-document .-document { opacity: 1; }
        &.-image .-image { opacity: 1; }
        &.-stylesheet .-stylesheet { opacity: 1; }
        &.-script .-script { opacity: 1; }
        &.-fonts .-fonts { opacity: 1; }
        &.-other .-other { opacity: 1; }

    }

    &.w-graph__timings-legend {
        display: none;
        position: relative;

        li {
            display: none;
        }

        &.-hover {
            display: block;

            li {
                opacity: 1;
            }

            &.-blocked .-blocked { display: inline-block; }
            &.-dns .-dns { display: inline-block; }
            &.-send .-send { display: inline-block; }
            &.-connect .-connect { display: inline-block; }
            &.-wait .-wait { display: inline-block; }
            &.-receive .-receive { display: inline-block; }
            &.-ssl .-ssl { display: inline-block; }
        }
    }
}

/**
 * Entry
 */

.w-graph.-hover .w-graph__entry .w-graph__entry-main {
    opacity: .3;
}

.w-graph.-hover .w-graph__entry .w-graph__entry-main.-hover {
    opacity: 0;
}

.w-graph.-hover .w-graph__entry.-hover .w-graph__entry-sub,
.w-graph.-hover .w-graph__entry.-hover .w-graph__entry-sub-info {
    display: block;

    opacity: 1;
}

.w-graph__entry {
    &-hover-trigger:hover {
        cursor: pointer;
    }

    &-main {
        transition: opacity .2s;

        fill: rgba($mintCream, .3);
    }

    &.-document .w-graph__entry-main {
        fill: rgba($dullCyan, .65);
    }

    &.-image .w-graph__entry-main {
        fill: rgba($purple, .65);
    }

    &.-stylesheet .w-graph__entry-main {
        fill: rgba($christi, .65);
    }

    &.-script .w-graph__entry-main {
        fill: rgba($pastelOrange, .65);
    }

    &.-fonts .w-graph__entry-main {
        fill: rgba($lust, .6);
    }

    &-sub {
        transition: opacity .3s;

        opacity: 0;

        .-blocked {
            fill: rgba($battleshipGrey, .8);
        }

        .-dns {
            fill: rgba($pastelOrange, .8);
        }

        .-send {
            fill: rgba($toolbox, .8);
        }

        .-connect {
            fill: rgba($deepCerise, .8);
        }

        .-wait {
            fill: rgba($christi, .8);
        }

        .-receive {
            fill: rgba($lapisLazuli, .8);
        }

        .-ssl {
            fill: rgba($pastelOrange, .8);
        }
    }

    &-sub-info {
        display: none;

        &__line {
            stroke: rgba($white, .3);
        }

        &__text {
            font-size: 12px;
            font-weight: 200;

            letter-spacing: .04em;

            fill: rgba($daffodil, .6);

            &.-name, &.-host {
                fill: rgba($white, .6);
            }

            &.-host.-diff {
                fill: rgba($lust, .8);
            }

            &.-total {
                fill: rgba($dullCyan, .9);
            }

            &.-document {
                fill: rgba($dullCyan, .9);
            }

            &.-image {
                fill: rgba($pastelViolet, .9);
            }

            &.-stylesheet {
                fill: rgba($christi, .9);
            }

            &.-script {
                fill: rgba($pastelOrange, .9);
            }

            &.-fonts {
                fill: rgba($lust, .8);
            }
        }
    }
}

/**
 * Axis
 */

.w-graph.-hover .w-graph__x-axis-tick,
.w-graph.-hover .w-graph__x-axis-text {
    opacity: .4;
}

.w-graph__x-axis {
    &-tick {
        transition: opacity .3s;

        stroke: rgba($lightGrey, .1);

        &.-thousand {
            stroke: rgba($reef, .4);
        }
    }

    &-text {
        font-size: 12px;
        font-weight: 200;

        transition: opacity .3s;

        fill: rgba($lightGrey, .25);

        &.-thousand {
            fill: rgba($reef, .5);
        }
    }
}

/**
 * DOM Events
 */

.w-graph__dom {
    &-event {
        &.-onload {
            stroke: rgba($lust, .6);
        }

        &.-oncontentload {
            stroke: rgba($lapisLazuli, .7);
        }
    }

    &-text {
        &.-onload {
            font-size: 11px;
            font-weight: 200;

            fill: rgba($lust, .8);
        }

        &.-oncontentload {
            font-size: 11px;
            font-weight: 200;

            fill: rgba($lapisLazuli, .9);
        }
    }
}
