html, body {
  font-family: Helvetica Neue, Helveica, Arial, sans-serif;
  background: #1A1A1A;
  height: 100%; }

.w-no-data {
  margin: 20px 0 0 350px;
  padding: 0 30px;
  text-align: center;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 21px;
  font-weight: 100;
  word-wrap: break-word;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  .w-no-data.-hidden {
    display: none; }

/**
 * Legend
 */
.w-graph-legend {
  display: none;
  margin: 18px 0 9px 0;
  padding: 5px 18px 7px 18px;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  /**
     * Legend specific hover behavior
     */ }
  .w-graph-legend.-visible {
    display: inline-block; }
  .w-graph-legend.-hover li, .w-graph-legend.-click li {
    opacity: 0.3; }
  .w-graph-legend.-relative {
    position: relative; }
  .w-graph-legend li {
    transition: opacity 0.3s;
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.4); }
  .w-graph-legend-color {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    vertical-align: middle;
    border-radius: 50%; }
  .w-graph-legend.-hover.-document .-document, .w-graph-legend.-click.-document .-document {
    opacity: 1; }
  .w-graph-legend.-hover.-image .-image, .w-graph-legend.-click.-image .-image {
    opacity: 1; }
  .w-graph-legend.-hover.-stylesheet .-stylesheet, .w-graph-legend.-click.-stylesheet .-stylesheet {
    opacity: 1; }
  .w-graph-legend.-hover.-script .-script, .w-graph-legend.-click.-script .-script {
    opacity: 1; }
  .w-graph-legend.-hover.-fonts .-fonts, .w-graph-legend.-click.-fonts .-fonts {
    opacity: 1; }
  .w-graph-legend.-hover.-other .-other, .w-graph-legend.-click.-other .-other {
    opacity: 1; }
  .w-graph-legend.w-graph__timings-legend {
    display: none;
    position: relative;
    background: rgba(26, 26, 26, 0.5); }
    .w-graph-legend.w-graph__timings-legend li {
      display: none; }
    .w-graph-legend.w-graph__timings-legend.-hover {
      display: block; }
      .w-graph-legend.w-graph__timings-legend.-hover li {
        opacity: 1; }
      .w-graph-legend.w-graph__timings-legend.-hover.-blocked .-blocked {
        display: inline-block; }
      .w-graph-legend.w-graph__timings-legend.-hover.-dns .-dns {
        display: inline-block; }
      .w-graph-legend.w-graph__timings-legend.-hover.-send .-send {
        display: inline-block; }
      .w-graph-legend.w-graph__timings-legend.-hover.-connect .-connect {
        display: inline-block; }
      .w-graph-legend.w-graph__timings-legend.-hover.-wait .-wait {
        display: inline-block; }
      .w-graph-legend.w-graph__timings-legend.-hover.-receive .-receive {
        display: inline-block; }
      .w-graph-legend.w-graph__timings-legend.-hover.-ssl .-ssl {
        display: inline-block; }

/**
 * Entry
 */
.w-graph.-hover .w-graph__entry .w-graph__entry-main, .w-graph.-click .w-graph__entry .w-graph__entry-main {
  opacity: 0.3; }

.w-graph.-hover .w-graph__entry.-hover .w-graph__entry-main, .w-graph.-click .w-graph__entry.-click .w-graph__entry-main {
  opacity: 0; }

.w-graph.-hover .w-graph__entry.-hover .w-graph__entry-sub, .w-graph.-hover .w-graph__entry.-hover .w-graph__entry-sub-info, .w-graph.-click .w-graph__entry.-click .w-graph__entry-sub, .w-graph.-click .w-graph__entry.-click .w-graph__entry-sub-info {
  display: block;
  opacity: 1; }

.w-graph__entry-hover-trigger:hover {
  cursor: pointer; }
.w-graph__entry-main {
  transition: opacity 0.2s;
  fill: rgba(247, 252, 253, 0.3); }
.w-graph__entry.-document .w-graph__entry-main {
  fill: rgba(65, 182, 196, 0.8); }
.w-graph__entry.-image .w-graph__entry-main {
  fill: rgba(141, 27, 136, 0.8); }
.w-graph__entry.-stylesheet .w-graph__entry-main {
  fill: rgba(102, 166, 30, 0.8); }
.w-graph__entry.-script .w-graph__entry-main {
  fill: rgba(254, 178, 76, 0.8); }
.w-graph__entry.-fonts .w-graph__entry-main {
  fill: rgba(227, 26, 28, 0.7); }
.w-graph__entry-sub {
  transition: opacity 0.3s;
  opacity: 0; }
  .w-graph__entry-sub .-blocked {
    fill: rgba(130, 130, 130, 0.8); }
  .w-graph__entry-sub .-dns {
    fill: rgba(254, 178, 76, 0.8); }
  .w-graph__entry-sub .-send {
    fill: rgba(117, 112, 179, 0.8); }
  .w-graph__entry-sub .-connect {
    fill: rgba(231, 41, 138, 0.8); }
  .w-graph__entry-sub .-wait {
    fill: rgba(102, 166, 30, 0.8); }
  .w-graph__entry-sub .-receive {
    fill: rgba(33, 102, 172, 0.8); }
  .w-graph__entry-sub .-ssl {
    fill: rgba(254, 178, 76, 0.8); }
.w-graph__entry-sub-info {
  display: none; }
  .w-graph__entry-sub-info__line {
    stroke: rgba(255, 255, 255, 0.3); }
  .w-graph__entry-sub-info__text {
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.04em;
    fill: rgba(255, 255, 51, 0.6); }
    .w-graph__entry-sub-info__text.-name, .w-graph__entry-sub-info__text.-host {
      fill: rgba(255, 255, 255, 0.6); }
    .w-graph__entry-sub-info__text.-host.-diff {
      fill: rgba(227, 26, 28, 0.8); }
    .w-graph__entry-sub-info__text.-total {
      fill: rgba(65, 182, 196, 0.9); }
    .w-graph__entry-sub-info__text.-document {
      fill: rgba(65, 182, 196, 0.9); }
    .w-graph__entry-sub-info__text.-image {
      fill: rgba(201, 148, 199, 0.9); }
    .w-graph__entry-sub-info__text.-stylesheet {
      fill: rgba(102, 166, 30, 0.9); }
    .w-graph__entry-sub-info__text.-script {
      fill: rgba(254, 178, 76, 0.9); }
    .w-graph__entry-sub-info__text.-fonts {
      fill: rgba(227, 26, 28, 0.8); }

/**
 * Axis
 */
.w-graph.-hover .w-graph__x-axis-tick, .w-graph.-hover .w-graph__x-axis-text, .w-graph.-click .w-graph__x-axis-tick, .w-graph.-click .w-graph__x-axis-text {
  opacity: 0.4; }

.w-graph__x-axis-tick {
  transition: opacity 0.3s;
  stroke: rgba(240, 240, 240, 0.1); }
  .w-graph__x-axis-tick.-thousand {
    stroke: rgba(217, 240, 163, 0.4); }
.w-graph__x-axis-text {
  font-size: 12px;
  font-weight: 200;
  transition: opacity 0.3s;
  fill: rgba(240, 240, 240, 0.25); }
  .w-graph__x-axis-text.-thousand {
    fill: rgba(217, 240, 163, 0.5); }

/**
 * DOM Events
 */
.w-graph__dom-event.-onload {
  stroke: rgba(227, 26, 28, 0.6); }
.w-graph__dom-event.-oncontentload {
  stroke: rgba(33, 102, 172, 0.7); }
.w-graph__dom-text.-onload {
  font-size: 11px;
  font-weight: 200;
  fill: rgba(227, 26, 28, 0.8); }
.w-graph__dom-text.-oncontentload {
  font-size: 11px;
  font-weight: 200;
  fill: rgba(33, 102, 172, 0.9); }

.w-detail {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 350px;
  height: 100%;
  background: rgba(26, 26, 26, 0.7); }
  .w-detail__closed {
    margin: 20px 0 0 0;
    padding: 0 30px;
    text-align: center;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 21px;
    font-weight: 100;
    word-wrap: break-word;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .w-detail-graph {
    display: block;
    margin: 27px auto 27px; }
  .w-detail__cont {
    position: relative;
    display: none;
    overflow-y: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .w-detail__title {
    margin: 20px 0 0 0;
    padding: 0;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 21px;
    font-weight: 100;
    word-wrap: break-word; }
  .w-detail__info {
    margin: 27px 0 0 0;
    text-align: center;
    color: rgba(240, 240, 240, 0.3);
    font-size: 16px;
    font-weight: 200; }
    .w-detail__info .w-detail__host {
      margin-right: 12px;
      color: rgba(240, 240, 240, 0.3); }
    .w-detail__info .w-detail__mime-type {
      margin-left: 12px; }
      .w-detail__info .w-detail__mime-type.-document {
        color: rgba(65, 182, 196, 0.9); }
      .w-detail__info .w-detail__mime-type.-image {
        color: rgba(201, 148, 199, 0.9); }
      .w-detail__info .w-detail__mime-type.-stylesheet {
        color: rgba(102, 166, 30, 0.9); }
      .w-detail__info .w-detail__mime-type.-script {
        color: rgba(254, 178, 76, 0.9); }
      .w-detail__info .w-detail__mime-type.-fonts {
        color: rgba(227, 26, 28, 0.8); }
  .w-detail__timing-title {
    font-size: 13px;
    font-weight: 300; }
  .w-detail__timing-info {
    font-size: 13px;
    font-weight: 300;
    fill: rgba(255, 255, 255, 0.4); }
    .w-detail__timing-info.-percent {
      fill: rgba(255, 255, 51, 0.4);
      display: none; }
    .w-detail__timing-info.-max {
      fill: rgba(227, 26, 28, 0.7); }
  .w-detail__timing-entry {
    opacity: 0.7; }
  .w-detail__timing-entry.-blocked, .w-detail__timing-title.-blocked {
    fill: #828282; }
  .w-detail__timing-entry.-dns, .w-detail__timing-title.-dns {
    fill: #feb24c; }
  .w-detail__timing-entry.-send, .w-detail__timing-title.-send {
    fill: #7570b3; }
  .w-detail__timing-entry.-connect, .w-detail__timing-title.-connect {
    fill: #e7298a; }
  .w-detail__timing-entry.-wait, .w-detail__timing-title.-wait {
    fill: #66a61e; }
  .w-detail__timing-entry.-receive, .w-detail__timing-title.-receive {
    fill: #2166ac; }
  .w-detail__timing-entry.-ssl, .w-detail__timing-title.-ssl {
    fill: #feb24c; }
  .w-detail__timing:hover .w-detail__timing-info {
    display: none; }
    .w-detail__timing:hover .w-detail__timing-info.-percent {
      display: block; }
  .w-detail__total-time__line {
    stroke: rgba(240, 240, 240, 0.3);
    stroke-width: 1px; }
  .w-detail__total-time__text {
    font-size: 12px;
    font-weight: 300;
    fill: rgba(255, 255, 255, 0.4); }
  .w-detail__size {
    font-size: 12px;
    font-weight: 300; }
    .w-detail__size.-size {
      fill: rgba(102, 166, 30, 0.7); }
    .w-detail__size.-content-size {
      fill: rgba(254, 178, 76, 0.7); }
  .w-detail.-open .w-detail__closed {
    display: none; }
  .w-detail.-open .w-detail__cont {
    display: block; }

