//
// Colors
//

$white: #fff;
$lightGrey: #f0f0f0;
$darkJungleGreen: #1A1A1A;
$christi: #66a61e;
$toolbox: #7570b3;
$purple: #810f7c;
$battleshipGrey: #828282;
$pastelViolet: #c994c7;
$reef: #d9f0a3;
$lust: #e31a1c;
$pastelOrange: #feb24c;
$deepCerise: #e7298a;
$mintCream: #f7fcfd;
$daffodil: #ffff33;
$dullCyan: #41b6c4;
$lapisLazuli: #2166ac;
