.w-graph__cont {
    font-family: Helvetica Neue, Helveica, Arial, sans-serif;

    background: #1a1a1a;
}



/**
 * Legend
 */

.w-graph-legend {
    display: inline-block;

    margin: 18px 0 18px 0;
    padding: 5px 18px 7px 18px;

    list-style: none;

    transition: opacity .3s;

    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 30px;
}

.w-graph-legend.-hover {
    opacity: .3;
}

.w-graph-legend.-relative {
    position: relative;
}

.w-graph-legend li {
    font-size: 12px;
    line-height: 18px;

    display: inline-block;

    margin-right: 12px;

    color: rgba(255, 255, 255, .4);
}

.w-graph-legend-color {
    position: relative;
    top: -1px;

    display: inline-block;

    width: 14px;
    height: 14px;
    margin-right: 6px;

    vertical-align: middle;

    border-radius: 50%;
}

/**
 * Entry
 */

.w-graph__entry-hover-trigger:hover {
    cursor: pointer;
}

.w-graph.-hover .w-graph__entry .w-graph__entry-main {
    opacity: .3;
}

.w-graph.-hover .w-graph__entry .w-graph__entry-main.-hover {
    opacity: 0;
}

.w-graph.-hover .w-graph__entry.-hover .w-graph__entry-sub,
.w-graph.-hover .w-graph__entry.-hover .w-graph__entry-sub-info {
    display: block;

    opacity: 1;
}

.w-graph__entry .w-graph__entry-main {
    transition: opacity .2s;

    fill: RGBA(247, 252, 253, .3);
}

.w-graph__entry.-document .w-graph__entry-main {
    fill: RGBA(65, 182, 196, .65);
}

.w-graph__entry.-image .w-graph__entry-main {
    fill: RGBA(129, 15, 124, .65);
}

.w-graph__entry.-stylesheet .w-graph__entry-main {
    fill: RGBA(127, 188, 65, .65);
}

.w-graph__entry.-script .w-graph__entry-main {
    fill: RGBA(254, 178, 76, .65);
}

.w-graph__entry.-fonts .w-graph__entry-main {
    fill: RGBA(227, 26, 28, .6);
}

.w-graph__entry-sub {
    transition: opacity .3s;

    opacity: 0;
}

.w-graph__entry-sub .-blocked {
    fill: RGBA(130, 130, 130, .8);
}

.w-graph__entry-sub .-dns {
    fill: RGBA(254, 178, 76, .8);
}

.w-graph__entry-sub .-send {
    fill: RGBA(117, 112, 179, .8);
}

.w-graph__entry-sub .-connect {
    fill: RGBA(231, 41, 138, .8);
}

.w-graph__entry-sub .-wait {
    fill: RGBA(102, 166, 30, .8);
}

.w-graph__entry-sub .-receive {
    fill: RGBA(33, 102, 172, .8);
}

.w-graph__entry-sub .-ssl {
    fill: RGBA(230, 171, 2, .8);
}

.w-graph__entry-sub-info {
    display: none;
}

.w-graph__entry-sub-info__line {
    stroke: RGBA(255, 255, 255, .3);
}

.w-graph__entry-sub-info__text {
    font-size: 12px;
    font-weight: 200;

    letter-spacing: .04em;

    fill: RGBA(255, 255, 51, .6);
}

.w-graph__entry-sub-info__text.-name,
.w-graph__entry-sub-info__text.-host {
    fill: RGBA(255, 255, 255, .6);
}

.w-graph__entry-sub-info__text.-host.-diff {
    fill: RGBA(227, 26, 28, .8);
}

.w-graph__entry-sub-info__text.-total {
    fill: RGBA(65, 182, 196, .9);
}

.w-graph__entry-sub-info__text.-document {
    fill: RGBA(65, 182, 196, .9);
}

.w-graph__entry-sub-info__text.-image {
    fill: RGBA(201, 148, 199, .9);
}

.w-graph__entry-sub-info__text.-stylesheet {
    fill: RGBA(127, 188, 65, .9);
}

.w-graph__entry-sub-info__text.-script {
    fill: RGBA(254, 178, 76, .9);
}

.w-graph__entry-sub-info__text.-fonts {
    fill: RGBA(227, 26, 28, .8);
}

/**
 * Axis
 */

.w-graph.-hover .w-graph__x-axis-tick,
.w-graph.-hover .w-graph__x-axis-text {
    opacity: .4;
}

.w-graph__x-axis-tick {
    transition: opacity .3s;

    stroke: RGBA(240, 240, 240, .1);
}

.w-graph__x-axis-text {
    font-size: 12px;
    font-weight: 200;

    transition: opacity .3s;

    fill: RGBA(240, 240, 240, .25);
}

.w-graph__x-axis-tick.-thousand {
    stroke: RGBA(217, 240, 163, .4);
}

.w-graph__x-axis-text.-thousand {
    fill: RGBA(217, 240, 163, .5);
}

/**
 * DOM Events
 */
.w-graph__dom-event.-onload {
    stroke: RGBA(227, 26, 28, .6);
}

.w-graph__dom-text.-onload {
    font-size: 11px;
    font-weight: 200;

    fill: RGBA(227, 26, 28, .8);
}

.w-graph__dom-event.-oncontentload {
    stroke: RGBA(8, 104, 172, .7);
}

.w-graph__dom-text.-oncontentload {
    font-size: 11px;
    font-weight: 200;

    fill: RGBA(8, 104, 172, .9);
}
